 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     background-color: #5c3434;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .container {
     background-color: #fff;
     max-width: 500px;
     margin: 50px auto;
     padding: 30px;
     border-radius: 5px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
 }
 
 h1 {
     text-align: center;
     margin-bottom: 30px;
 }
 
 form label {
     display: block;
     margin-bottom: 10px;
 }
 
 form input[type="email"],
 form input[type="password"] {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
 }
 
 form input[type="submit"] {
     background-color: #4CAF50;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
 }
 
 form input[type="submit"]:hover {
     background-color: #3e8e41;
 }